@inherits SubmittableDialog

<MudDialog>
    <DialogContent>
        <MudGrid>
            <MudItem xs="12">
                <MudFileUpload T="IReadOnlyList<IBrowserFile>" FilesChanged="UploadFiles" Accept=".torrent" MaximumFileCount="50" >
                    <ActivatorContent>
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.CloudUpload">
                            Choose files
                        </MudButton>
                    </ActivatorContent>
                </MudFileUpload>
            </MudItem>
            <MudItem xs="12">
                @if (Files?.Any() == true)
                {
                    <MudCard Elevation="3" Class="mb-3">
                        <MudCardHeader Class="pb-0">
                            Selected Torrent Files (@Files.Count)
                        </MudCardHeader>
                        <MudCardContent>
                            <MudList T="string">
                                @foreach (var file in Files)
                                {
                                    <MudListItem>
                                        <div class="w-100 d-flex align-center">
                                            <span>@file.Name</span>
                                            <MudSpacer />
                                            <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                                           Color="Color.Error"
                                                           Variant="Variant.Text"
                                                           Size="Size.Small"
                                                           OnClick="@(() => Remove(file))" />
                                        </div>
                                    </MudListItem>
                                }
                            </MudList>
                        </MudCardContent>
                    </MudCard>
                }
            </MudItem>
        </MudGrid>
        <AddTorrentOptions @ref="TorrentOptions" ShowCookieOption="true" />
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Close</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Upload Torrents</MudButton>
    </DialogActions>
</MudDialog>