@inherits SubmittableDialog

<MudDialog>
    <DialogContent>
        <table width="100%">
            <tbody>
                <tr>
                    <td style="width: 100%"><MudTextField T="string" Label="Tracker" Value="@Tracker" ValueChanged="SetTracker" Required Variant="Variant.Outlined" ShrinkLabel="true" /></td>
                    <td><MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="AddTracker" /></td>
                </tr>
                @foreach (var tracker in Trackers)
                {
                    var trackerRef = tracker;
                    <tr>
                        <td>@tracker</td>
                        <td><MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="@(e => DeleteTracker(trackerRef))" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Save</MudButton>
    </DialogActions>
</MudDialog>