@inherits SubmittableDialog

<MudDialog>
    <DialogContent>
        <table width="100%">
            <tbody>
                <tr>
                    <td style="width: 100%"><MudTextField T="string" Label="Tag" Value="@Tag" ValueChanged="SetTag" Required Variant="Variant.Outlined" ShrinkLabel="true" /></td>
                    <td><MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="AddTag" /></td>
                </tr>
                @foreach (var tag in Tags)
                {
                    var tagRef = tag;
                    <tr>
                        <td>@tag</td>
                        <td><MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="@(e => DeleteTag(tagRef))" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Save</MudButton>
    </DialogActions>
</MudDialog>