@page "/details/{hash}"
@layout DetailsLayout

<div class="content-panel">
    <div class="content-panel__toolbar content-panel__toolbar--scroll">
        <MudToolBar Gutters="false" Dense="true">
            @if (!DrawerOpen)
            {
                <MudIconButton Icon="@Icons.Material.Outlined.NavigateBefore" OnClick="NavigateBack" title="Back to torrent list" />
                <MudDivider Vertical="true" />
            }
            @if (Hash is not null)
            {
                <TorrentActions RenderType="RenderType.InitialIconsOnly" Hashes="@([Hash])" Torrents="MainData.Torrents" Preferences="Preferences" Tags="@MainData.Tags" Categories="@MainData.Categories" />
            }
            <MudDivider Vertical="true" />
            <MudText Class="pl-5 no-wrap">@Name</MudText>
        </MudToolBar>
    </div>

    <div class="content-panel__body">
        @if (ShowTabs)
        {
            <CascadingValue Value="RefreshInterval" Name="RefreshInterval">
                <MudTabs Elevation="2" ApplyEffectsToContainer="true" @bind-ActivePanelIndex="ActiveTab" KeepPanelsAlive="true" Border="true">
                    <MudTabPanel Text="General">
                        <GeneralTab Hash="@Hash" Active="@(ActiveTab == 0)" />
                    </MudTabPanel>
                    <MudTabPanel Text="Trackers">
                        <TrackersTab Hash="@Hash" Active="@(ActiveTab == 1)" />
                    </MudTabPanel>
                    <MudTabPanel Text="Peers">
                        <PeersTab Hash="@Hash" Active="@(ActiveTab == 2)" />
                    </MudTabPanel>
                    <MudTabPanel Text="HTTP Sources">
                        <WebSeedsTab Hash="@Hash" Active="@(ActiveTab == 3)" />
                    </MudTabPanel>
                    <MudTabPanel Text="Content">
                        <FilesTab Hash="@Hash" Active="@(ActiveTab == 4)" />
                    </MudTabPanel>
                </MudTabs>
            </CascadingValue>
        }
    </div>
</div>
