@page "/log"
@layout OtherLayout

<MudMenu @ref="ContextMenu" Dense="true" PositionAtCursor="true" ListClass="unselectable" PopoverClass="unselectable">
    <MudMenuItem Icon="@Icons.Material.Filled.ContentCopy" IconColor="Color.Info" Disabled="@(ContextMenuItem is null)" OnClick="CopyContextMenuItem">Copy entry</MudMenuItem>
    <MudDivider />
    <MudMenuItem Icon="@Icons.Material.Filled.Clear" IconColor="Color.Error" Disabled="@(!HasResults)" OnClick="ClearResults">Clear view</MudMenuItem>
</MudMenu>

<div class="content-panel">
    <div class="content-panel__toolbar">
        <MudToolBar Gutters="false" Dense="true">
            @if (!DrawerOpen)
            {
                <MudIconButton Icon="@Icons.Material.Outlined.NavigateBefore" OnClick="NavigateBack" title="Back to torrent list" />
                <MudDivider Vertical="true" />
            }
            <MudDivider Vertical="true" />
            <MudText Class="pl-5 no-wrap">Execution Log</MudText>
        </MudToolBar>
    </div>
    <div class="content-panel__body">
        <MudCard Elevation="1" Class="ml-4 mr-4 mb-4">
            <MudCardContent>
                <EditForm Model="Model" OnSubmit="Submit">
                    <MudGrid>
                        <MudItem md="7">
                            <MudTextField T="string" Label="Criteria" @bind-Value="Model.Criteria" Variant="Variant.Outlined" ShrinkLabel="true" />
                        </MudItem>
                        <MudItem md="3">
                            <MudSelect @ref="CategoryMudSelect" T="string" Label="Categories" SelectedValues="Model.SelectedTypes" SelectedValuesChanged="SelectedValuesChanged" Variant="Variant.Outlined" ShrinkLabel="true" MultiSelection="true" MultiSelectionTextFunc="GenerateSelectedText" SelectAll="true">
                                <MudSelectItem Value="@("Normal")">Normal</MudSelectItem>
                                <MudSelectItem Value="@("Info")">Info</MudSelectItem>
                                <MudSelectItem Value="@("Warning")">Warning</MudSelectItem>
                                <MudSelectItem Value="@("Critical")">Critical</MudSelectItem>
                            </MudSelect>
                        </MudItem>
                        <MudItem md="2">
                            <MudButton ButtonType="ButtonType.Submit" FullWidth="true" Color="Color.Primary" EndIcon="@Icons.Material.Filled.Search" Variant="Variant.Filled" Class="mt-6">Filter</MudButton>
                        </MudItem>
                    </MudGrid>
                </EditForm>
            </MudCardContent>
        </MudCard>

        <DynamicTable @ref="Table"
                      TableId="Log"
                      T="Lantean.QBitTorrentClient.Models.Log"
                      ColumnDefinitions="Columns"
                      Items="Results"
                      MultiSelection="false"
                      SelectOnRowClick="false"
                      RowClassFunc="RowClass"
                      OnTableDataContextMenu="TableDataContextMenu"
                      OnTableDataLongPress="TableDataLongPress"
                      Class="search-list content-panel__table" />
    </div>
</div>
