<MudMenu @ref="ContextMenu" Dense="true" PositionAtCursor="true" ListClass="unselectable" PopoverClass="unselectable">
    <MudMenuItem Icon="@Icons.Material.Filled.AddCircle" IconColor="Color.Info" OnClick="AddPeer">Add peer</MudMenuItem>
    @if (ContextMenuItem is not null)
    {
        <MudMenuItem Icon="@Icons.Material.Filled.ContentCopy" IconColor="Color.Info" OnClick="CopyPeerContextMenu">Copy IP:port</MudMenuItem>
        <MudMenuItem Icon="@Icons.Material.Filled.DisabledByDefault" IconColor="Color.Info" OnClick="BanPeerContextMenu">Ban peer</MudMenuItem>
    }
</MudMenu>

<div class="content-panel">
    <div class="content-panel__toolbar">
        <MudToolBar Gutters="false" Dense="true">
            <MudIconButton Icon="@Icons.Material.Filled.AddCircle" Color="Color.Info" OnClick="AddPeer">Add peer</MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.DisabledByDefault" Color="Color.Error" OnClick="BanPeerToolbar" Disabled="@(SelectedItem is null)">Ban peer</MudIconButton>
            <MudDivider Vertical="true" />
            <MudIconButton Icon="@Icons.Material.Outlined.ViewColumn" Color="Color.Inherit" OnClick="ColumnOptions" title="Choose Columns" />
        </MudToolBar>
    </div>

    <div class="content-panel__body">
        <DynamicTable @ref="Table"
                      T="Peer"
                      TableId="Peers"
                      ColumnDefinitions="Columns"
                      ColumnFilter="FilterColumns"
                      ColumnFilterState="@(ShowFlags)"
                      Items="Peers"
                      MultiSelection="false"
                      SelectOnRowClick="true"
                      OnTableDataLongPress="TableDataLongPress"
                      OnTableDataContextMenu="TableDataContextMenu"
                      SelectedItemChanged="SelectedItemChanged"
                      Class="details-list content-panel__table" />
    </div>
</div>
